body {
  background: $backgroundColor;
  color: $bodyColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.container {
  width: 94%;
  max-width: 45rem;
  margin: 0 auto;
  position: relative;
}

// Main content

.main {
  flex-direction: column;
  flex: 2 0 auto;
  justify-content: flex-start;
}

.content {
  margin: 2rem 0;
}

.footer {
  background: $captionBackgroundColor;
  color: $captionColor;
  a {
    color: $captionLinkColor;
  }
  h1, h2, h3, h4,h5, h6, h7 {
    color: $captionColor;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
  div {
    padding: 0.5rem;
  }
}

#dansesuisse {
  height: 4rem;
}

hr {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  color: $headingColor;
}

// Links, icons and images
a .icon {
  transition: fill .1s;
  &:hover {
    fill: currentColor;
  }
}

.icon {
  vertical-align: middle;
  width: 1.1em;
  height: 1.1em;
  fill: CurrentColor;
}

// Media content
img {
  max-width: 100%;
  height: auto;
}

a:hover:focus {
  outline: none;
}

::selection {
  background: $headingColor;
  color: $backgroundColor;
  text-shadow: none;
}

// Slideshow

.slideshow-container {
  position: relative;
  max-width: 50rem;
  margin: 0 auto;
}

.slidesnav {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  margin-bottom: 12px !important;
}

.dot {
  border: 2px solid #ccc !important;
  color: #000;
  background-color: #161616 !important;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  padding: 0;
}

.dot-active,
.dot:hover {
  color: #000 !important;
  background-color: #fff !important
}

// Nav bar

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 8rem;
  padding: 2rem 0rem 1rem 0;
  align-items: flex-end;
}

.logo-nav {
  display: inline-block;
  margin: 0.1rem 1rem 0 0;

  img {
    height: 4.47rem;
  }
}

.nav {
  display: flex;
}

.item--nav {
  margin: 0 0.3rem;
  padding: 0 0 0.44rem 0;
  font-size: 1.2rem;
}

.item--current {
  font-weight: map-get($bodytype, bold);
}
