body {
  background: $backgroundColor;
  color: $bodyColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.container {
  width: 94%;
  max-width: 50rem;
  margin: 0 auto;
  position: relative;
}

// Main content

.main {
  flex-direction: column;
  flex: 2 0 auto;
  justify-content: flex-start;
}

.content {
  margin: 2rem 0;
}

.footer {
  background: $captionBackgroundColor;
  color: $captionColor;

  a {
    color: $captionLinkColor;

    &:visited {
      color: $captionLinkColor;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h7 {
    color: $captionColor;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0rem 0rem;

  div {
    padding: 0.5rem 0rem;
  }
}

#dansesuisse {
  height: 4rem;
}

hr {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  color: $headingColor;
}

a {
  color: $linkColor;

  &:hover {
    color: $hoverLinkColor;
    outline: none;

    &:visited {
      color: $hoverLinkColor;
    }
  }
}

.icon {
  vertical-align: middle;
  width: 1.1em;
  height: 1.1em;
  fill: currentColor;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  background: $headingColor;
  color: $backgroundColor;
  text-shadow: none;
}

.nav {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  column-gap: 1.2rem;
  justify-content: space-between;
  padding: 2rem 0rem 1rem 0;

  .nav__text {
    flex-shrink: 0;
    font-size: 1.2rem;
    padding: 0 0 0.44rem 0; // Make sure baseline of text aligns with logo
  }

  .nav__logo {
    flex-shrink: 0;
    width: 14rem;
  }

  .nav__text--current {
    font-weight: map-get($bodytype, bold);
  }
}

.slideshow {
  position: relative;
  max-width: 50rem;
  margin: 0 auto;

  .slideshow__nav {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    margin-bottom: 12px !important;
  }

  .slideshow__dot {
    border: 2px solid #ccc !important;
    color: #000;
    background-color: #161616 !important;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    padding: 0;
  }

  .slideshow__dot--active,
  .slideshow__dot:hover {
    color: #000 !important;
    background-color: #fff !important
  }
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  .gallery__item {
    display: inline-block;
    margin: 1rem 1rem;
  }

  .gallery__img {
    max-width: 10em;
    max-height: 10em;
  }
}

/* Some adjustments for phone screens */

@media (max-width: 680px) {
  .nav__logo {
    flex-basis: 100%;

    img {
      width: 14rem;
    }
  }

  .footer-container {
    flex-direction: column;
  }
}
