// Palette
$light: #ffffff;
$dark: #302D32;

$blue: #2E489E;
$red: #EE3140;
$dark_green: #658583;
$light_green: #9DD4B2;
$rose: #DCAFD1;
$drab: #BDBFB1;

// Background colors
$backgroundColor: $light;
$captionBackgroundColor: $dark;

// Text colors
$headingColor: $dark;
$bodyColor: $dark;
$linkColor: $blue;
$captionColor: $drab;
$captionLinkColor: $light_green;

// Typography
$bodytype: (
  font-family: '"Helvetica Neue", Helvetica, "Liberation Sans", Arial, sans-serif',
  regular: normal,
  bold: bold,
  italic: italic,
);
