// Palette
$white: #ffffff;
$french_gray: #C8CFDF;
$marian_blue: #254184;
$oxford_blue: #050E24;// #131E3A;
$night: #131112;

$zomp: #43AA8B;
$crayola: #EF3054;
$bittersweet: #FF6F59;

// Background colors
$backgroundColor: $white;
$captionBackgroundColor: $oxford_blue;

// Text colors
$headingColor: $night;
$bodyColor: $night;
$linkColor: $marian_blue;
$captionColor: $french_gray;
$captionLinkColor: $zomp;

// Typography
$bodytype: (
  font-family: '"Helvetica Neue", Helvetica, "Liberation Sans", Arial, sans-serif',
  regular: normal,
  bold: bold,
  italic: italic,
);
